%h1 Celsius/Fahrenheit Temperature Converter
%br
= form_tag("converter/convert", :method => "get") do
  = label_tag(:input, "Input:")
  = text_field_tag(:input)
  = radio_button_tag(:unit, "Celsius")
  = label_tag(:unit_cel, "To Celsius")
  = radio_button_tag(:unit, "Fahrenheit")
  = label_tag(:unit_fahr, "To Fahrenheit")
  = submit_tag("Convert")
