%h1 Celsius/Fahrenheit Temperature Converter
%br
.row
  = form_tag("converter/convert", :method => "get") do
    .span3
      Input:
      = text_field_tag(:input)
    .span2
      = radio_button_tag(:direction, "to_c", :id=>"direction_to_c")
      To Celsius
      %br
      = radio_button_tag(:direction, "to_f", :id=>"direction_to_f")
      To Fahrenheit
    .span1
      = submit_tag("Convert", :id=>'submit')
#answer